
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exit</title>
</head>
<body>
    <div>

        <meta http-equiv="Refresh" content="0; url=https://www.byu.edu" />

    </div>
</body>
</html>
